<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GithubOwner" value="matbahasa"/>
		<add key="GithubRepositoryName" value="MALINDO_Morph"/>
		<add key="GithubClientApp" value="SipebiMalindo"/>
		<add key="GithubPersonalAccessToken" value=""/> <!-- enter your token here-->
		<add key="GithubFolderPath" value=""/>
		<add key="GithubFilePattern" value="^malindo.*\.tsv$"/>

		<add key="LatestDownloadFileName" value=""/>
	</appSettings>
</configuration>
